* {
  box-sizing: border-box;
}

html {
  font-style: normal;
  font-size: 10px;
  line-height: 10px;
}
body {
  @include font();
  @include media-mobile {
    @include font();
  }
}
h1 {
  @extend %font-aleo;
  @include font(8rem, 9.6rem, Bold);
  @include media-mobile {
    @include font(4rem, 5rem);
  }
}

h2 {
  @extend %font-aleo;
  @include font(3.5rem, 4.2rem);
  @include media-mobile {
    @include font(3rem, 3rem);
  }
}

h3 {
  @extend %font-red-hat-text;
  @include font(4rem, 5.3rem, Medium);
  @include media-mobile {
    @include font(3rem, 4rem);
  }
}

h4 {
  @extend %font-red-hat-text;
  @include font(3.2rem, 4.2rem, Medium);
  @include media-mobile {
    @include font(2.2rem, 3rem);
  }
}

h5 {
  @extend %font-red-hat-text;
  @include font(2.4rem, 3.2rem, Medium);
  @include media-mobile {
    @include font(2rem, 2.5rem);
  }
}

h6 {
  @extend %font-magra;
  @include font(3.2rem, 3.9rem, Bold);
  @include media-mobile {
    @include font(2.5rem, 3rem);
  }
}

p {
  @extend %font-aleo;
  @include font(2rem, 2.4rem);
  @include media-mobile {
    @include font(1.6rem, 2rem);
  }
}

li, a {
  @extend %font-red-hat-text;
  @include font(1.6rem, 2.1rem, Medium);
  list-style-type: none;
  text-decoration: none;
  @include media-mobile {
    @include font(1rem, 2rem);
  }
}