h6 {
  font-family: "Magra", sans-serif;
  color: #ffffff;
}

p, h2, h1 {
  font-family: "Aleo", serif;
  color: #ffffff;
}

li, a, h5, h4, h3 {
  font-family: "Red Hat Text", sans-serif;
  color: #ffffff;
}

.navigation li, .footer__wrapper, .logo {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header__wrapper {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

* {
  box-sizing: border-box;
}

html {
  font-style: normal;
  font-size: 10px;
  line-height: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 2.6rem;
  weight: normal;
}
@media (max-width: 390px) {
  body {
    font-size: 1.6rem;
    line-height: 2.6rem;
    weight: normal;
  }
}

h1 {
  font-size: 8rem;
  line-height: 9.6rem;
  weight: Bold;
}
@media (max-width: 390px) {
  h1 {
    font-size: 4rem;
    line-height: 5rem;
    weight: normal;
  }
}

h2 {
  font-size: 3.5rem;
  line-height: 4.2rem;
  weight: normal;
}
@media (max-width: 390px) {
  h2 {
    font-size: 3rem;
    line-height: 3rem;
    weight: normal;
  }
}

h3 {
  font-size: 4rem;
  line-height: 5.3rem;
  weight: Medium;
}
@media (max-width: 390px) {
  h3 {
    font-size: 3rem;
    line-height: 4rem;
    weight: normal;
  }
}

h4 {
  font-size: 3.2rem;
  line-height: 4.2rem;
  weight: Medium;
}
@media (max-width: 390px) {
  h4 {
    font-size: 2.2rem;
    line-height: 3rem;
    weight: normal;
  }
}

h5 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  weight: Medium;
}
@media (max-width: 390px) {
  h5 {
    font-size: 2rem;
    line-height: 2.5rem;
    weight: normal;
  }
}

h6 {
  font-size: 3.2rem;
  line-height: 3.9rem;
  weight: Bold;
}
@media (max-width: 390px) {
  h6 {
    font-size: 2.5rem;
    line-height: 3rem;
    weight: normal;
  }
}

p {
  font-size: 2rem;
  line-height: 2.4rem;
  weight: normal;
}
@media (max-width: 390px) {
  p {
    font-size: 1.6rem;
    line-height: 2rem;
    weight: normal;
  }
}

li, a {
  font-size: 1.6rem;
  line-height: 2.1rem;
  weight: Medium;
  list-style-type: none;
  text-decoration: none;
}
@media (max-width: 390px) {
  li, a {
    font-size: 1rem;
    line-height: 2rem;
    weight: normal;
  }
}

.login {
  display: flex;
  width: 103px;
  height: 41px;
  margin-right: 10px;
  padding: 10px 10px 10px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #0d606f;
  box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background-color: black;
}

@media (max-width: 390px) {
  .wrapper {
    max-width: 390px;
    margin: 0 auto;
  }
}
.header {
  background: url("/src/assets/img/garrett-parker-DlkF4-dbCOU-unsplash 1.png");
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .header {
    height: 100vh;
    background-size: cover;
  }
}
@media screen and (max-width: 390px) {
  .header {
    background: url("/src/assets/img/mobile-img/garrett-parker-DlkF4-dbCOU-unsplash2-small.png");
    height: 30.25vh;
    background-size: none;
  }
}

.header__wrapper {
  width: 100%;
  height: 90px;
  padding: 20px 25px 20px 25px;
  background-color: rgba(242, 120, 92, 0.6980392157);
}
@media screen and (max-width: 390px) {
  .header__wrapper {
    background-color: rgba(242, 120, 92, 0);
  }
}

.logo {
  width: 216px;
  height: 31px;
}
.logo img {
  padding: 0 0 7px 9px;
}

.main {
  min-width: 100%;
}

.footer {
  min-width: 100%;
  min-height: 50px;
  border: 2px solid red;
  flex-shrink: 0;
}

.footer__wrapper {
  min-width: 100%;
  min-height: 50px;
  width: 100%;
  height: 90px;
  overflow-y: hidden;
}

.navigation {
  margin-right: -15px;
}
.navigation li {
  padding-right: 38px;
}

.navigation__list {
  padding: 0;
}

.preview {
  border: 2px solid blue;
}

.three-steps {
  border: 2px solid rgb(226, 206, 22);
}

.destinations {
  border: 2px solid rgb(195, 16, 250);
}

.stories {
  border: 2px solid rgb(10, 235, 243);
}

.burger-menu {
  display: none;
}/*# sourceMappingURL=style.css.map */