%font-magra {
    font-family: 'Magra', sans-serif;
    color: $color-primary;
}

%font-aleo {
    font-family: 'Aleo', serif;
    color: $color-primary;
}

%font-red-hat-text {
    font-family: 'Red Hat Text', sans-serif;
    color: $color-primary;
}

%flex-row-center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

%inline-flex-row-between {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

%inline-flex-row-around {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}