.preview {
  width: 896px;
  height: auto;
  position: relative;
  left: 120px;
  top: 32px;
}

.plan-your-trip {
  width: 892px;
  height: 422px;

  > p {
    padding: 12px 0 26px 0;
    font-style: italic;
    color: $color-primary;
  }
}

.search {
  @extend %inline-flex-row-between;
  width: 892px;
  height: 95px;
  padding: 0 18px 0 41px;
  background: $color-primary-opacity70;
  border-radius: 16px;
}

.search__title {
  letter-spacing: -0.9px;
    color: $color-accent;
    font-size: 24px;
    font-style: italic;
  }
