.preview {
  width: 896px;
  height: auto;
  position: relative;
  left: 120px;
  top: 32px;
}

.plan-your-trip {
  width: 892px;
  height: 422px;

  > p {
    padding: 12px 0 26px 0;
    font-style: italic;
    color: $color-primary;
  }
}

.search {
  @extend %inline-flex-row-between;
  width: 892px;
  height: 95px;
  padding: 0 18px 0 41px;
  background: $color-primary-opacity70;
  border-radius: 16px;
  .btn__search {
    margin: 0;
    padding: 0;
    @extend %font-red-hat-text;
    @include font(2.4rem, 3.2rem, 500);
    display: inline-flex;
    flex-wrap: nowrap;
    @include media-mobile {
      @include font(2rem, 2.5rem);
    }
  }
}

.search__title {
  letter-spacing: -0.9px;
    color: $color-accent;
    font-size: 24px;
    font-style: italic;
  }

