.three-steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 40px;
  padding-bottom: 97px;

  li {
    gap: 20px;
  }

  p {
    margin: 0;
    padding: 0;
  }
}

.three-steps__title {
  padding-top: 80px;
}

.selected__bar {
  ul {
    @extend %flex-column-center;
    gap: 195px;
    margin-right: 2.5px;
  }
}

.selected__item {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  p {
    padding-top: 5px;
    letter-spacing: -0.2px;
  }
}

.paragraph {
  color: #0d606f;
}
