.footer {
    min-width: 100%;
    min-height: 50px;
    background: url("/src/assets/img/img8.png") , lightgray 0px -619.46px / 100% 162.428% no-repeat;
    background-size: cover;
    background-position: center;
    height: 141vh;
    margin-top: 173px;
}

.footer__wrapper {
    width: 100%;
    max-height: 100px;
    @extend %inline-flex-row-between;
    height: 5%;
}